
<!--==========================
    Intro Section
  ============================-->
<section id="intro" style="height: 30px">
    <div class="">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">


            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="height: 30vh">
                    <div class="carousel-background"><img src="img/intro-carousel/banner_pagina.jpg" alt="" style="width: 20px !important;"></div>
                </div>

            </div>

        </div>
    </div>
</section><!-- #intro -->
